<div class="add-body-margin">
  <h1 class="center-align">Edit Account</h1>

  <%= form_for @user, url: edit_account_path, html: {class:"form center"} do |f| %>
    <%= render partial: 'form', locals: {user: @user, f: f} %>
  <% end %>
</div>
